<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Food Menu</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-light">

    <div class="container">
        @RenderBody()
    </div>

    <footer class="text-center text-muted mt-5 mb-3">
        Food Menu Ordering System — Demo Project
    </footer>

</body>
</html>
